<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h2><% @user.username %></h2>

    <form method="POST" action="/logout">
      <input type="submit" value="Log Out"
    </form>

  </body>
</html>
